# Simple linear regression - Exercise

You are given a real estate dataset. 

Real estate is one of those examples that every regression course goes through as it is extremely easy to understand and there is a (almost always) certain causal relationship to be found.

The data is located in the file: 'real_estate_price_size.csv'. 

You are expected to create a simple linear regression (similar to the one in the lecture), using the new data. 

Apart from that, please:
-  Create a scatter plot (with or without a regression line)
-  Calculate the R-squared
-  Display the intercept and coefficient(s)
-  Using the model make a prediction about an apartment with size 750 sq.ft.

Note: In this exercise, the dependent variable is 'price', while the independent variable is 'size'.

Good luck!

## Import the relevant libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# and of course the actual regression (machine learning) module
from sklearn.linear_model import LinearRegression

## Load the data

In [4]:
data = pd.read_csv('real_estate_price_size.csv')

In [5]:
data.head()

        price     size
0  234314.144   643.09
1  228581.528   656.22
2  281626.336   487.29
3  401255.608  1504.75
4  458674.256  1275.46

## Create the regression

### Declare the dependent and the independent variables

In [6]:
y = data['price']
x = data['size']

### Explore the data

In [8]:
x.shape

(100,)

### Transform the inputs into a matrix (2D object)

In [9]:
# x_matrix = x.values.reshape(84,1)
x_matrix = x.values.reshape(-1,1)

### Regression itself

In [22]:
reg = LinearRegression()
reg.fit(x_matrix,y)

LinearRegression()

### Calculate the R-squared

In [15]:
reg.score(x_matrix,y)

0.7447391865847586

### Find the intercept

In [18]:
reg.intercept_

101912.60180122906

### Find the coefficients

In [17]:
reg.coef_

array([223.17874259])

### Making predictions

You find an apartment online with a size of 750 sq.ft.

All else equal what should be its price according to the model?

In [19]:
data['prediction'] = reg.predict(x_matrix)

In [20]:
data

         price     size     prediction
0   234314.144   643.09  245436.619376
1   228581.528   656.22  248366.956267
2   281626.336   487.29  210665.371280
3   401255.608  1504.75  437740.814720
4   458674.256  1275.46  386568.160831
..         ...      ...            ...
95  252460.400   549.80  224616.274480
96  310522.592  1037.44  333447.156519
97  383635.568  1504.75  437740.814720
98  225145.248   648.29  246597.148838
99  274922.856   705.29  259318.337166

[100 rows x 3 columns]